html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

.form-container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.form-container div {
    flex: 1;
    display: flex;
}

.form-container form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

textarea {
    display: flex;
    flex: 1;
    border-color: #d4d9df;
}

.button-wrapper {
    max-height: 10%;
}

.button-wrapper button {
    flex: 1;
    box-shadow: none;
    box-sizing: border-box;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.25px;
    line-height: 16px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    background: rgb(26, 115, 232);
    padding: 9px 16px 10px 12px;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: transparent !important;
    border-image: initial !important;
}

button:disabled, button[disabled] {
    border: 1px solid #999999;
    background-color: rgba(133, 145, 162, 0.35);
    color: #a5a5a5;
}

.text-container {
    display: none;
    position: fixed;
    height: 100%;
    background-color: rgb(238, 238, 238);
    width: 100%;
    overflow-y: auto;
}

.text-container div {
    margin-bottom: 10px;
}

.unicode {
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.content {
    width: 100%;
    height: auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.input-wrapper {
    position: relative;
}

#paste-btn {
    position: absolute;
    bottom: 10px;
    background: transparent;
    border: none;
    font-style: normal;
    right: 7px;
    display: none;
}

#paste-btn i {
    font-style: normal;
    font-size: 40px;
}

.rtl-text {
    direction: rtl;
    padding: 10px;
    font-size: 16px;
    text-align: right;
    font-size: 18px;
    line-height: 25px;
}

#images-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

#images-wrapper img {
    width: 24%;
    height: auto;
    border: 1px solid #ccc;
}

input {
    display: block;
    width: 100%;
    height: auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    margin: 5px 0;
}