<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zalando Product Processor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="form-container">
        <form method="POST" action="/process" id="form">
            <div class="input-wrapper">
                <textarea name="url" id="url" value="" placeholder="Enter URL here" class="url-input"></textarea>
                <button id="paste-btn" type="button">
                    <i>&#128203</i>
                </button>

            </div>
            <div class="button-wrapper">
                <button type="submit" disabled="disabled">Process</button>
            </div>

        </form>
    </div>
    <div class="text-container">
        <i class="unicode" onclick="hideTextContainer()">&times</i>
        <div class="content"></div>
        <div id="images-wrapper"></div>

    </div>

    <!-- Scripts -->
    <script src="assets/app.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" type="text/javascript"></script>
</body>

</html>
