<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zalando Product Processor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/style.css" type="text/css">
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="form-container">
        <form method="POST" action="/process" id="form">
            <div class="input-wrapper">
                <textarea name="url" id="url" value="" placeholder="Enter URL here" class="url-input"
                    readonly></textarea>
                <button id="paste-btn" type="button">
                    <i>&#128203</i>
                </button>

            </div>
            <div class="button-wrapper">
                <button type="submit" disabled="disabled">Process</button>
            </div>

        </form>
    </div>
    <div class="text-container">
        <i class="unicode">&times</i>
        <div class="content">
            <!-- <div class="title">
                <input type="text" name="product-title" value="تیشرت سفید">
            </div>
            <div class="brand">
                <span> برند: </span>
                <span> Polo Ralph Lauren </span>
            </div>
            <div class="line">----------------------------------</div>
            <div class="property">
                <input type="text" name="product-title">
            </div>
            <div class="line">----------------------------------</div>
            <div class="product-price">
                <span>خرید و ارسال از اروپا </span>
                <div class="prices">
                    <div>
                        <span class="price-text"> قیمت: </span>
                        <span class="price-amount">
                            <span class="amount"> 800 </span>
                            <span class="eur"> یورو </span>
                        </span>
                    </div>
                    <div class="final-price">
                        <span> قیمت جدید + هزینه ارسال از اروپا </span>
                        <span class="price-amount">
                            <span class="amount"> 800 </span>
                            <span class="eur"> یورو </span>
                        </span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <!-- Scripts -->
    <script src="assets/app.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" type="text/javascript"></script>
</body>

</html>
